*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}



.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.contenedor1{
    
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: darkcyan;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

html{
    scroll-behavior: smooth;
}

/*pruebaaaa*/
.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook{
    background: #2E406E;
}
.icon-whatsapp{
    background: #167937;
}
.icon-instagram{
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.icon-youtube{
    background: #E83028;
}
.icon:first-child{
    border-radius: 1rem 0 0 0;
}
.icon:last-child{
    border-radius: 0 0 0 1rem;
}
.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

/* Header */
header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}
header{
    width: 100%;
    height: 600px;
    background: #159957;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(210, 76%, 34%, 0.678), hsla(150, 76%, 34%, 0.637)), url(../img/34.jpg);      
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(210, 76%, 34%, 0.678), hsla(150, 76%, 34%, 0.637)), url(../img/34.jpg);  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;

}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo{
    height: 60px;
    

}
.nav .logo img{
    height: 100%;
    vertical-align: top;
}

.nav .enlaces-header a{
    color: #0079B0;
    font-weight: 300;
    text-decoration: none;
    margin-left: 20px;
}
.enlaces-header{
    transition: ease-in-out 0.5s;
}

nav > a:hover{
    text-decoration: underline;
}

.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}
.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}

header .textos-header{
    display: flex;
    height: 500px;
    width: 99%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
    background: rgba(13, 100, 172, 0.356);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    padding: 0 10px 0 10px;
}

.textos-header a{
    text-decoration: none;
    color: #fff;
    background: #0079b0;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    margin-top: 50px;
    font-size: 25px;
}

.textos-header a:hover{
    background: #fff;
    color: #0079b0;
}

.imagen-logo{
    width: 90px;
    margin-top: 30px;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    margin-top: 50px;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.inicio{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 90px;
    
}

.contenido-formulario{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 60px 0;
}

.contenido-formulario>img{
    width: 550px;
    animation: ease-in animat 1s;
}

@keyframes animat{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

.textos-formulario{
    margin: 30px 30px 0 30px;
    
}

.textos-formulario p span{
    font-size: 20px;
    font-weight: 500;
    font-style: oblique;
}

.textos-formulario i{
    font-size: 40px;
}

.contenido-formulario h1{
    font-weight: 300;
    font-size: 50px;
}

.contenido-formulario p{
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}

.contenido-formulario a{
    margin: 28px 10px 0 0;
    width: 70px;
    display: inline-block;
    background: #0079B0;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 8px 32px rgba(26, 62, 163, 0.5);

}

.contenido-formulario a:hover{
    background: #fff;
    color: #0079B0;
}


/*footer*/

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
    
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #008C8B;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    font-size: 16px;
    background: #008C8B;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #057272;
}

.content-foo a{
    color: #fff;
    text-decoration: none;
}

.content-foo a:hover{
    color: #008C8B;
}

.content-foo p:hover{
    background: #fff;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797; 
}

/*formulario*/

.formulario h1{
    color: #000;
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
}

form{
    background: #fff;
    width: 99%;
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 40px;
}

input, textarea{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, 
textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #008C8B;
} 

label{
    color: #0079B0;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;

}

input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #008C8B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0079B0, #008C8B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0079B0, #008C8B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.3s ease all;
    left: 0%;
}
button{
    background: #008C8B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0079B0, #008C8B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0079B0, #008C8B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

button:hover{
    color: #008C8B;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #0079B0, #008C8B);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #0079B0, #008C8B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #fff;
}

/* responsive */

@media screen and (max-width:2000px){
    .form{
        width: 500px;
    }
}

@media screen and (max-width:900px){
    .form{
        width: 500px;
    }
    .contenido-formulario{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .textos-formulario{
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 0 10px;
    }

    .enlaces-header{
        position: fixed;
        background: #159957;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #0079B0, #008C8B);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #0079B0, #008C8B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);

    }
    .nav .menudos{
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }
    .nav .enlaces-header a{
        color: #fff;
    }
    .hamburguer{
        display: block;
    }
}
    @media screen and (max-width:600px){
    .form{
        width: 300px;
    }
    .contenido-formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .textos-formulario{
        margin: 60px 0 60px 0;
        justify-content: center;
        align-items: center;
        
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo a{
        color: #fff;
        text-decoration: none;
    }
    
    .content-foo a:hover{
        color: #008C8B;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        padding-bottom: 20px;
        background: none;
        border: none;
        border-radius: none;
        border-bottom: 1px solid #f2f2f2;
    }

    .content-foo p:hover{
        padding-bottom: 20px;
        background: none;
    }

    .titulo-final{
        font-size: 20px;
    }
}
@media screen and (max-width:350px){
    .form{
        width: 250px;
    }
    .contenido-formulario{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .contenido-formulario h1{
        font-size: 35px;
    }
    .textos-formulario{
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
    }
    .textos-header h1{
        font-size: 25px;
    }
    .textos-header h2{
        font-size: 15px;
    }
}